.contenido{
background-image: url(../css/imagenes/fondo\ de\ panatalla\ de\ recode.jpg);
}


.titulo-princital{
    text-align: center;
color: white;
}

.Sudtitulos{
    color: white;
    text-align: center;
}

.parrafos{
  border: 5px solid grey;
  background-color: black;
  color: white;
  padding: 40px;
  margin: 40px;
  width: 400px;
  height: 150px;
  color: white;
  text-align: center;
}