*{
  display: flex;
  flex-direction: column;
}

.contenido{
background-image: url(../css/imagenes/fondo\ de\ panatalla\ de\ recode.jpg);
padding-top: 10px;
}

.titulo-princital{
text-align: center;
color:white;
font-size: 30px;
}

.Caja1{

  color: white;
  border: 5px solid rgb(82, 82, 82);
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 350px;
  height: 200px;
  text-align: center;
  justify-content: left;

}
.Caja2{
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 350px;
  height: 200px;
  text-align: center;
  justify-content: right;
}

.Caja3{
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 350px;
  height: 200px;
  justify-content: left;
}

.Caja4{
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 400px;
  height: 200px;
  text-align: center;
  float: left;
}

.Caja5{
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 400px;
  height: 200px;
  text-align: center;
  float: left;
}


.Caja6{
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 400px;
  height: 200px;
  text-align: center;
  float: right;
}