* {
 
    flex-direction: column;
  
}

.contenido {
  background-image: url(../css/imagenes/fondo\ de\ panatalla\ de\ recode.jpg);
  padding-top: 10px;
}

.titulo-princital {
  text-align: center;
  color: white;
  font-size: 30px;
}

.Caja1 {
  color: white;
  border: 5px solid rgb(82, 82, 82);
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 310px;
  height: 300px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px
}

.Caja2 {
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 320px;
  height: 300px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px
}


.Caja3 {
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 310px;
  height: 250px;
  justify-content: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px
}

.Caja4 {
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 350px;
  height: 300px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px
}

.Caja5 {
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 400px;
  height: 200px;
  text-align: center;
  float: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px
}


.Caja6 {
  color: white;
  border: 5px solid grey;
  background-color: black;
  padding: 40px;
  margin: 40px;
  width: 400px;
  height: 200px;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px
}