body {

    background-image: url('../css/imagenes/fondo\ de\ panatalla\ de\ recode.jpg'); /* Reemplaza 'fondo.jpg' por la ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

p{
    color: white;
    text-align: center;
}

*{
    flex-direction: column-reverse  ;
}

.botton{
    width: 220px;
    justify-content: center;
    background-color: black; 
    border: none;
    color: white; 
    padding: 20px 20px; 
    text-align: center; 
    text-decoration: none; 
    font-size: 24px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    cursor: pointer;
    border-radius: 10px; 
    box-shadow: 6px 6px 6px 6px blue; 
    display: flex;
  }

h1{
    color: white;
    text-align: center;
    font-size: 30px;
}

.imag1{
    width: 150px; 
    height: 150px; 
    border-radius: 10%; 
    object-fit: cover; 
    justify-content: center;
}

.parrafo1{
text-align: center;
font-size: 16px;
color: white;
}